<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
      <typeAlias type="dto.Board" alias="Board"/>
      <typeAlias type="dto.Member" alias="Member"/>
   </typeAliases>
   
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/testdb"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
      </dataSource>      
<!--         
           <dataSource type="JNDI">
            <property name="data_source" value="java:comp/env/jdbc/kosta"/>
         </dataSource>
 -->
         </environment>
   </environments>
   
   <mappers>
      <mapper resource="mapper/Board.xml"/>   
      <mapper resource="mapper/Member.xml"/>   
   </mappers>

</configuration>   